<div class="container footer-cover-block">
    <div class="col-md-2 footer-content-block">
      <p class="footer-menu-links">Links</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-7 footer-content-block">
    <p>Our Address</p>
    <address>
      214, King Street <br/>
      Toronto,<br/>
      Ontario<br/>
      <i class="fas fa-phone-volume"></i> : 123 646 234<br/>
      <i class="fas fa-fax"></i> : +416 8766 5321 <br/>
      <i class="fas fa-envelope-open-text"></i> : www.sdfsf@.com<br/>
    </address>
      </div>
    <div class="col-md-3 footer-content-block">
    <ul class="footer-links">
      <li><img src="assets/images/facebook.png"></li>
      <li><img src="assets/images/google-plus.png"></li>
      <li><img src="assets/images/linkedin.png"></li>
      <li><img src="assets/images/twitter.png"></li>
      <li><img src="assets/images/youtube.png"></li>
    </ul>
    </div>   
    </div>
    <div class="container footer-cover-block">
        <div class="col-md-12 copy-text">
            <p class="">@Copyright 2015 Ristorante Il Fornello</p>
          </div>
    </div>