

 <div class="jumbotron text-center" style="margin-bottom:0">

        <div class="container inner-content">

          <h1>Ristorante II Fornello</h1>

          <p>Simple fresh ingrediants, prepared and cooked with love and passion became truly great dishes, from wood-oven backed Neepolitian style pizzas to Pastats entreel.</p>

        </div>

    </div>

    <div class="inner-content-block">
            <div class="container">
              <div class="col-md-8 main-content">
                  <h3>FichiPizza</h3>
                  <p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey and arugula.</p>
                  <a href="#">More</a>
              </div>
              <div class="col-md-4 sub-contnet">
                <h3>Our Unique Culinary Creations</h3>
                </div>
            </div>
          </div>
        
          <div class="inner-content-block">
              <div class="container">
                  <div class="col-md-4 sub-contnet">
                      <h3>This Month's <br/>Promotions</h3>
                      </div>
                <div class="col-md-8 main-content">
                    <h3>Weekend Grand Buffet</h3>
                    <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person</p>
                    <a href="#">More</a>
                </div>
               
              </div>
            </div>
        
            <div class="inner-content-block">
                <div class="container">
                  <div class="col-md-8 main-content">
                      <h3>Tommy McHugh</h3>
                      <h4>Executive Chef</h4>
                      <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences</p>
                      <a href="#">More</a>
                  </div>
                  <div class="col-md-4 sub-contnet">
                    <h3>Meet our Culinary <br/>Specialists</h3>
                    </div>
                </div>
              </div>

    
        <div class="container menu-container">

         <h3>Menu</h3>
            <div class="row row-content">

                <div class="col-md-12">
               <app-restaurant-menu (emitDish)="selectItem($event)"> </app-restaurant-menu>
                </div>
              </div>

           <div class="row row-content">
                   <app-restaurant-menu-description [item] = "selectedItem"></app-restaurant-menu-description>
            </div>


        </div>
      





 